<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA3E15B127C8EEC3008DABD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAAF382327BA60080036F0C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAAF382B27BA60080036F0C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAC882BA27F23A82002D4250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAC882C127F23A82002D4250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAD3BC7B27ED18FF00896BDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
